{% extends 'base.html' %}

{% block content %}
    {% for article in articles %}
        {% if article.thumbnail %}
            <img src="{{ article.thumbnail.url }}" alt="Превью статьи потерялось" width="150"/>
        {% endif %}
        <strong>{{ article.title }}</strong>
        <p>{{ article.short_description }}</p>
        <small>{{ article.time_create }}</small>
        <hr>
        <a href="{% url 'articles_detail' article.slug %}">Подробнее</a>
        <span>{{ article.category.title }}</span>
    {% endfor %}
{% endblock %}
