<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
{% include 'header.html' %}
<div class="container">
    <div class="row">
        <div class="col-8">
            {% if messages %}
                {% include 'includes/messages.html' %}
            {% endif %}
            {% block content %}{% endblock %}
            {% if is_paginated %}
                {% include 'pagination.html' %}
            {% endif %}
        </div>
        {% if articles %}
            {% include 'sidebar.html' %}
        {% endif %}
    </div>
</div>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
